@model hastaneRandevuSistemi.Models.login.login

    <!--
<form asp-controller="login" asp-action="Create">



    <div class="form-group" >
    
    
        <label asp-for="patientName"> </label>
        <input asp-for="patientName" />
        <span asp-validation-for="patientName"></span>

    </div>
    <div class="form-group" >
        <label asp-for="patientSurname"> </label>
        <input asp-for="patientSurname" />
        <span asp-validation-for="patientSurname"></span>

    </div>

    <div class="form-group" typeof="password">
        <label asp-for="patientParola"> </label>
        <input asp-for="patientParola" />
        <span asp-validation-for="patientParola"></span>

    </div>


    <div class="form-group">
        <input type="submit" value="Create" asp-controller="randevuAl" asp-action="Index" />


    </div>


</form> 
-->

<form>
  
  <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">İsim</label>
    <input type="text" id="form2Example1" class="form-control" />
    
  </div>
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Soyisim</label>
      <input type="text" id="form2Example1" class="form-control" />
  </div>

 
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Şifre</label>
      <input type="password" id="form2Example2" class="form-control" />
    
  </div>

 

  


  <button type="button" onclick= "window.location.href='/randevuAl'" class="btn btn-primary btn-block mb-4">Giriş</button>
  </form> 





 