@model hastaneRandevuSistemi.Models.login.login

<form asp-controller="login" asp-action="Create">


    <div class="form-group">
        <label asp-for="patientTc"> </label>
        <input asp-for="patientTc" />
        <span asp-validation-for="patientTc"></span>

    </div>

    <div class="form-group">
        <label asp-for="patientName"> </label>
        <input asp-for="patientName" />
        <span asp-validation-for="patientName"></span>

    </div>
    <div class="form-group">
        <label asp-for="patientSurname"> </label>
        <input asp-for="patientSurname" />
        <span asp-validation-for="patientSurname"></span>

    </div>

    <div class="form-group">
        <label asp-for="patientParola"> </label>
        <input asp-for="patientParola" />
        <span asp-validation-for="patientParola"></span>

    </div>


    <div class="form-group">
        <input type="submit" value="Create" />


    </div>


</form>
