<<<<<<< Updated upstream
﻿
=======
﻿@model hastaneRandevuSistemi.Models.home.home
@inject LanguageService language

<h1>@language.</h1>

<form asp-asp-controller="Home" asp-action="home">
    
    

</form>
>>>>>>> Stashed changes
