
@model hastaneRandevuSistemi.Models.policlinic.policlinic

<h1>Poliklinikler</h1>

<form asp-controller="policlinic" asp-action="Create">


    <div class="form-group">


        <select name="poliklinik">
            <option asp-for ="YogunBakim">Yoğun Bakım</option>
            <option asp-for="PalyatifBakim">Palyatif Bakım</option>
            <option asp-for="CocukSagligiVeHastaliklari">Çocuk Sağlığı ve Hastalıkları</option>
            <option asp-for="EnfeksiyonHastaliklari">Enfeksiyon Hastalıkları</option>
            <option asp-for="FizikselTipVeRehabilitasyon">Fiziksel Tıp ve Rehabilitasyon</option>
            <option asp-for="GenelCerrahi">Genel Cerrahi</option>
            <option asp-for="GenelDahiliye">Genel Dahiliye</option>
            <option asp-for="GogusHastaliklari">Göğüs Hastalıkları</option>
            <option asp-for="GozHastaliklari">Göz Hastalıkları</option>
            <option asp-for="KadinHastaliklariVeDogum">Kadın Hastalıkları ve Doğum</option>
            <option asp-for="KalpDamarCerrahisi">Kalp Damar Cerrahisi</option>
            <option asp-for="Kardiyoloji">Kardiyoloji</option>
            <option asp-for="KulakBurunBogaz">Kulak Burun Boğaz</option>
            <option asp-for="Nöroloji">Nöroloji</option>
            <option asp-for="OrtopediVeTravmatoloji">Ortopedi ve Travmatoloji</option>
            <option asp-for="Üroloji">Üroloji</option>

        </select>
        <label asp-for="policlinicId"> </label>
        <input asp-for="policlinicId" />
        <span asp-validation-for="policlinicId"></span>

    </div>

    <div class="form-group">
        <label asp-for="policlinicName"> </label>
        <input asp-for="policlinicName" />
        <span asp-validation-for="policlinicName"></span>

    </div>
    <div class="form-group">
        <label asp-for="policlinicNo"> </label>
        <input asp-for="policlinicNo" />
        <span asp-validation-for="policlinicNo"></span>

    </div>


</form>
